DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
OSO_URL=http://localhost:8080
OSO_AUTH=e_0123456789_12345_osotesttoken01xiIn
# DEBUG=main,authz,data,llm,embedding
